.dflow-badge-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.dflow-badge-link {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  text-decoration: none;
}


.kbl-badge-link-bg {
  background: linear-gradient(0.25turn, #ff900e, #ff0e9f, #950eff);
  border-radius: 6px;
  padding: 2px;
}

.kbl-badge-link {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
}

.dflow-logo {
  width: 21px;
  height: 21px;
  margin-right: 6px;
}

.kbl-logo {
  width: 21px;
  height: 21px;
  margin-right: 4px;
}

.dflow-text {
  margin-bottom: -0.2em;
}

.dflow-hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.dflow-hvr-shrink:hover,
.dflow-hvr-shrink:focus,
.dflow-hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
